{
    "Token": "",
    "DatabaseUrl": "",
    "RuleRoleId": "",
    "RuleMessageId": "",
    "OwnerId": "",
    "Prefix": "!",
    "LeaveChannelId": "",
    "WelcomeChannelId": "",
    "HaveRoleId": "",
    "RemoveRoleId": "",
    "ClientId": "",
    "GuildId": "",
    "NewMemberChannelId": "",
    "RuleChannelId": ""
}